USE [EquipmentRepairDB]
GO
/****** Object:  Table [dbo].[additional_specialists]    Script Date: 02.04.2026 22:24:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[additional_specialists](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[request_id] [int] NOT NULL,
	[specialist_user_id] [int] NOT NULL,
	[assigned_by_manager_id] [int] NOT NULL,
	[assigned_at] [datetime] NULL,
	[reason] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deadline_extensions]    Script Date: 02.04.2026 22:24:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deadline_extensions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[request_id] [int] NOT NULL,
	[old_deadline] [date] NOT NULL,
	[new_deadline] [date] NOT NULL,
	[extension_reason] [nvarchar](max) NULL,
	[manager_id] [int] NOT NULL,
	[client_agreed] [bit] NULL,
	[client_agreement_date] [datetime] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[equipment_types]    Script Date: 02.04.2026 22:24:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[equipment_types](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fault_types]    Script Date: 02.04.2026 22:24:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fault_types](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[typical_duration_hours] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[repair_requests]    Script Date: 02.04.2026 22:24:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[repair_requests](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[request_number] [nvarchar](20) NOT NULL,
	[created_date] [datetime] NULL,
	[equipment_type_id] [int] NOT NULL,
	[equipment_serial] [nvarchar](100) NULL,
	[fault_type_id] [int] NOT NULL,
	[problem_description] [nvarchar](max) NULL,
	[client_id] [int] NOT NULL,
	[assigned_executor_id] [int] NULL,
	[status] [nvarchar](20) NULL,
	[priority] [nvarchar](20) NULL,
	[planned_deadline] [date] NULL,
	[actual_completion_date] [datetime] NULL,
	[created_by_user_id] [int] NOT NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[request_comments]    Script Date: 02.04.2026 22:24:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[request_comments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[request_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[comment_text] [nvarchar](max) NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 02.04.2026 22:24:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_feedbacks]    Script Date: 02.04.2026 22:24:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_feedbacks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[request_id] [int] NOT NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](max) NULL,
	[qr_code_generated] [bit] NULL,
	[qr_code_url] [nvarchar](255) NULL,
	[google_form_url] [nvarchar](500) NULL,
	[feedback_received] [bit] NULL,
	[feedback_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 02.04.2026 22:24:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[login] [nvarchar](100) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](150) NOT NULL,
	[email] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[role_id] [int] NOT NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[additional_specialists] ON 

INSERT [dbo].[additional_specialists] ([id], [request_id], [specialist_user_id], [assigned_by_manager_id], [assigned_at], [reason]) VALUES (1, 4, 3, 2, CAST(N'2026-04-02T10:20:46.620' AS DateTime), N'Для ремонта шпинделя нужен электронщик')
SET IDENTITY_INSERT [dbo].[additional_specialists] OFF
GO
SET IDENTITY_INSERT [dbo].[deadline_extensions] ON 

INSERT [dbo].[deadline_extensions] ([id], [request_id], [old_deadline], [new_deadline], [extension_reason], [manager_id], [client_agreed], [client_agreement_date], [created_at]) VALUES (1, 4, CAST(N'2026-04-09' AS Date), CAST(N'2026-04-16' AS Date), N'Ожидание запчастей из Германии', 2, 1, CAST(N'2026-04-02T10:20:46.623' AS DateTime), CAST(N'2026-04-02T10:20:46.623' AS DateTime))
SET IDENTITY_INSERT [dbo].[deadline_extensions] OFF
GO
SET IDENTITY_INSERT [dbo].[equipment_types] ON 

INSERT [dbo].[equipment_types] ([id], [name], [description]) VALUES (1, N'Ноутбук', N'Портативные компьютеры различных марок')
INSERT [dbo].[equipment_types] ([id], [name], [description]) VALUES (2, N'Принтер', N'Лазерные, струйные, МФУ')
INSERT [dbo].[equipment_types] ([id], [name], [description]) VALUES (3, N'Сервер', N'Серверное оборудование')
SET IDENTITY_INSERT [dbo].[equipment_types] OFF
GO
SET IDENTITY_INSERT [dbo].[fault_types] ON 

INSERT [dbo].[fault_types] ([id], [name], [typical_duration_hours]) VALUES (1, N'Не включается', 4)
INSERT [dbo].[fault_types] ([id], [name], [typical_duration_hours]) VALUES (2, N'Перегрев', 3)
INSERT [dbo].[fault_types] ([id], [name], [typical_duration_hours]) VALUES (3, N'Нет изображения', 5)
SET IDENTITY_INSERT [dbo].[fault_types] OFF
GO
SET IDENTITY_INSERT [dbo].[repair_requests] ON 

INSERT [dbo].[repair_requests] ([id], [request_number], [created_date], [equipment_type_id], [equipment_serial], [fault_type_id], [problem_description], [client_id], [assigned_executor_id], [status], [priority], [planned_deadline], [actual_completion_date], [created_by_user_id], [updated_at]) VALUES (1, N'REQ-001', CAST(N'2026-04-02T10:20:46.427' AS DateTime), 1, N'NB-12345', 1, N'Ноутбук не реагирует на кнопку включения', 5, 3, N'in_progress', N'high', CAST(N'2026-04-05' AS Date), NULL, 1, CAST(N'2026-04-02T10:20:46.427' AS DateTime))
INSERT [dbo].[repair_requests] ([id], [request_number], [created_date], [equipment_type_id], [equipment_serial], [fault_type_id], [problem_description], [client_id], [assigned_executor_id], [status], [priority], [planned_deadline], [actual_completion_date], [created_by_user_id], [updated_at]) VALUES (2, N'REQ-002', CAST(N'2026-04-02T10:20:46.427' AS DateTime), 2, N'PR-9876', 4, N'Принтер пишет "Замените картридж", но новый не видит', 5, 3, N'waiting', N'medium', CAST(N'2026-04-03' AS Date), NULL, 1, CAST(N'2026-04-02T10:20:46.427' AS DateTime))
INSERT [dbo].[repair_requests] ([id], [request_number], [created_date], [equipment_type_id], [equipment_serial], [fault_type_id], [problem_description], [client_id], [assigned_executor_id], [status], [priority], [planned_deadline], [actual_completion_date], [created_by_user_id], [updated_at]) VALUES (3, N'REQ-003', CAST(N'2026-04-02T10:20:46.427' AS DateTime), 3, N'SRV-001', 6, N'Сервер периодически зависает', 6, 4, N'in_progress', N'critical', CAST(N'2026-04-04' AS Date), NULL, 2, CAST(N'2026-04-02T10:20:46.427' AS DateTime))
SET IDENTITY_INSERT [dbo].[repair_requests] OFF
GO
SET IDENTITY_INSERT [dbo].[request_comments] ON 

INSERT [dbo].[request_comments] ([id], [request_id], [user_id], [comment_text], [created_at]) VALUES (1, 1, 3, N'Диагностика: неисправен контроллер питания. Заказан чип.', CAST(N'2026-04-02T10:20:46.617' AS DateTime))
INSERT [dbo].[request_comments] ([id], [request_id], [user_id], [comment_text], [created_at]) VALUES (2, 1, 2, N'Менеджер: согласована замена с клиентом.', CAST(N'2026-04-02T10:20:46.617' AS DateTime))
INSERT [dbo].[request_comments] ([id], [request_id], [user_id], [comment_text], [created_at]) VALUES (3, 3, 4, N'Проведена оптимизация БД и очистка логов.', CAST(N'2026-04-02T10:20:46.617' AS DateTime))
SET IDENTITY_INSERT [dbo].[request_comments] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [name], [description]) VALUES (1, N'admin', N'Полный доступ к системе')
INSERT [dbo].[roles] ([id], [name], [description]) VALUES (2, N'manager', N'Консультант, продление сроков, привлечение специалистов')
INSERT [dbo].[roles] ([id], [name], [description]) VALUES (3, N'executor', N'Исполнитель ремонтных работ')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[service_feedbacks] ON 

INSERT [dbo].[service_feedbacks] ([id], [request_id], [rating], [comment], [qr_code_generated], [qr_code_url], [google_form_url], [feedback_received], [feedback_date]) VALUES (1, 5, NULL, NULL, 1, NULL, N'https://forms.google.com/feedback-req005', 0, NULL)
SET IDENTITY_INSERT [dbo].[service_feedbacks] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [login], [password_hash], [full_name], [email], [phone], [role_id], [is_active], [created_at]) VALUES (1, N'admin1', N'pass_admin', N'Иванов Иван Админович', N'admin@techservice.ru', N'+7-901-111-1111', 1, 1, CAST(N'2026-04-02T10:20:46.067' AS DateTime))
INSERT [dbo].[users] ([id], [login], [password_hash], [full_name], [email], [phone], [role_id], [is_active], [created_at]) VALUES (2, N'manager1', N'pass_manager', N'Петрова Мария Менеджеровна', N'manager@techservice.ru', N'+7-902-222-2222', 2, 1, CAST(N'2026-04-02T10:20:46.067' AS DateTime))
INSERT [dbo].[users] ([id], [login], [password_hash], [full_name], [email], [phone], [role_id], [is_active], [created_at]) VALUES (3, N'executor1', N'pass_exec', N'Сидоров Петр Исполнителев', N'executor@techservice.ru', N'+7-903-333-3333', 3, 1, CAST(N'2026-04-02T10:20:46.067' AS DateTime))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__equipmen__72E12F1B7EC8708B]    Script Date: 02.04.2026 22:24:04 ******/
ALTER TABLE [dbo].[equipment_types] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__fault_ty__72E12F1B93584916]    Script Date: 02.04.2026 22:24:04 ******/
ALTER TABLE [dbo].[fault_types] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__repair_r__8EF03D9CC9DE1EDD]    Script Date: 02.04.2026 22:24:04 ******/
ALTER TABLE [dbo].[repair_requests] ADD UNIQUE NONCLUSTERED 
(
	[request_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__roles__72E12F1BC83320D3]    Script Date: 02.04.2026 22:24:04 ******/
ALTER TABLE [dbo].[roles] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__service___18D3B90EF7838FBA]    Script Date: 02.04.2026 22:24:04 ******/
ALTER TABLE [dbo].[service_feedbacks] ADD UNIQUE NONCLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__7838F27257FC4315]    Script Date: 02.04.2026 22:24:04 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[additional_specialists] ADD  DEFAULT (getdate()) FOR [assigned_at]
GO
ALTER TABLE [dbo].[deadline_extensions] ADD  DEFAULT ((0)) FOR [client_agreed]
GO
ALTER TABLE [dbo].[deadline_extensions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[fault_types] ADD  DEFAULT ((8)) FOR [typical_duration_hours]
GO
ALTER TABLE [dbo].[repair_requests] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[repair_requests] ADD  DEFAULT ('waiting') FOR [status]
GO
ALTER TABLE [dbo].[repair_requests] ADD  DEFAULT ('medium') FOR [priority]
GO
ALTER TABLE [dbo].[repair_requests] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[request_comments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[service_feedbacks] ADD  DEFAULT ((0)) FOR [qr_code_generated]
GO
ALTER TABLE [dbo].[service_feedbacks] ADD  DEFAULT ((0)) FOR [feedback_received]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[additional_specialists]  WITH CHECK ADD FOREIGN KEY([assigned_by_manager_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[additional_specialists]  WITH CHECK ADD FOREIGN KEY([request_id])
REFERENCES [dbo].[repair_requests] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[additional_specialists]  WITH CHECK ADD FOREIGN KEY([specialist_user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[deadline_extensions]  WITH CHECK ADD FOREIGN KEY([manager_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[deadline_extensions]  WITH CHECK ADD FOREIGN KEY([request_id])
REFERENCES [dbo].[repair_requests] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[repair_requests]  WITH CHECK ADD FOREIGN KEY([assigned_executor_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[repair_requests]  WITH CHECK ADD FOREIGN KEY([client_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[repair_requests]  WITH CHECK ADD FOREIGN KEY([created_by_user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[repair_requests]  WITH CHECK ADD FOREIGN KEY([equipment_type_id])
REFERENCES [dbo].[equipment_types] ([id])
GO
ALTER TABLE [dbo].[repair_requests]  WITH CHECK ADD FOREIGN KEY([fault_type_id])
REFERENCES [dbo].[fault_types] ([id])
GO
ALTER TABLE [dbo].[request_comments]  WITH CHECK ADD FOREIGN KEY([request_id])
REFERENCES [dbo].[repair_requests] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[request_comments]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[service_feedbacks]  WITH CHECK ADD FOREIGN KEY([request_id])
REFERENCES [dbo].[repair_requests] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[repair_requests]  WITH CHECK ADD  CONSTRAINT [CHK_repair_requests_priority] CHECK  (([priority]='critical' OR [priority]='high' OR [priority]='medium' OR [priority]='low'))
GO
ALTER TABLE [dbo].[repair_requests] CHECK CONSTRAINT [CHK_repair_requests_priority]
GO
ALTER TABLE [dbo].[repair_requests]  WITH CHECK ADD  CONSTRAINT [CHK_repair_requests_status] CHECK  (([status]='deadline_extended' OR [status]='need_parts' OR [status]='cancelled' OR [status]='completed' OR [status]='in_progress' OR [status]='waiting'))
GO
ALTER TABLE [dbo].[repair_requests] CHECK CONSTRAINT [CHK_repair_requests_status]
GO
ALTER TABLE [dbo].[service_feedbacks]  WITH CHECK ADD  CONSTRAINT [CHK_service_feedbacks_rating] CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[service_feedbacks] CHECK CONSTRAINT [CHK_service_feedbacks_rating]
GO
